.grid-container-Profilo{
    display: grid;
    grid-template-rows: 360px 1fr;
    /*grid-template-columns: 1fr 2fr;*/
    grid-template-columns: repeat(auto-fit,minmax(360px, auto));
    grid-gap: 5px;
    /*border: 1px solid #ff66a8;*/
}

#myProfile {
    /* clip: shape(top, right, bottom, left); NB 'rect' is the only available option */
    width: 360px;
    height: 360px;
    background-image: url(../assets/FotoProfilo.jpg);
    background-position: 50% 60%; /*Set the center or the radius*/
    background-size: 100%; /*Set the source scale*/
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.grid-item {
    /*background-color: rgba(255, 255, 150, 0.8);*/
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
    padding: 10px;
    text-align: center;
    /*border: 1px solid #66ff6e;*/
}

.grid-item h1{
    font-size: 50px;
}

.grid-item p{
    font-size: 30px;
}

.grid-item li{
    font-size: 25px;

}


/* DEBUG css to see the div*/
/*.grid-item div{*/
/*    border: 1px solid #ffe066;*/
/*}*/
/*.grid-item li{*/
/*    border: 1px solid #ffe066;*/
/*}*/

/*div {*/
/*    border: 1px solid #ffe066;*/
/*}*/