.tableDidattica {
    width:100%;
    border: 2px solid black;
}

.tableDidattica td, .tableDidattica th{
    text-align: center;
    border-width: 1px;
    border-style: solid;
    padding-left: 2px;
    padding-right: 2px;
}

.tableDidattica th{
    background-color:#adf6f2;
}

.tableDidattica td{
    background-color:#ffffff;
}

.text-top {
    vertical-align: top;
}