.u-section-1 .u-sheet-1 {
  min-height: 902px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 60px auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 420px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 360px;
  height: 360px;
  background-image: url("images/FotoProfilo.jpg");
  background-position: 50% 50%;
  margin: 0 -1px 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 420px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 25px 30px 15px;
}

.u-section-1 .u-text-1 {
  margin: 66px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 81px 45px 0 auto;
}

.u-section-1 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -91px 299px 0 0;
}

.u-section-1 .u-btn-2 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: -3px 299px 0 0;
}

.u-section-1 .u-btn-3 {
  padding: 0;
}

.u-section-1 .u-text-5 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 299px 0 0;
}

.u-section-1 .u-btn-4 {
  padding: 0;
}

.u-section-1 .u-icon-3 {
  width: 16px;
  height: 22px;
}

.u-section-1 .u-text-6 {
  margin: 4px auto 0 0;
}

.u-section-1 .u-text-7 {
  margin: 4px auto 0 0;
}

.u-section-1 .u-text-8 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-9 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-10 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-11 {
  margin: 20px auto 60px 0;
}

.u-section-1 .u-btn-5 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 828px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-1 .u-image-1 {
    width: 300px;
    height: 300px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 360px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 7px;
  }

  .u-section-1 .u-text-3 {
    margin-right: -36px;
  }

  .u-section-1 .u-text-4 {
    margin-right: -208px;
  }

  .u-section-1 .u-btn-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-5 {
    margin-right: 176px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 462px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 47px;
    margin-right: auto;
    margin-left: 111px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 54px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 682px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 436px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 78px;
    margin-right: 0;
    margin-left: 328px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -94px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-2 {
    min-height: 474px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 54px;
    margin-left: 60px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 47px;
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.875rem;
  }
}